.payment-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	width: 600px;

	fieldset {
		width: 45%;
		//border: none;

		legend {

		}
	}

	label {
		display: block;
		text-transform: uppercase;
	}

	.add-info {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;

		

		input {
			width: 70px;
		}

		select {
			width: 85px;
		}
	}
}